@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  *,
  *::before,
  *::after {
    // Bootstrap specific; comment out `color` and `background`
    //color: $black !important; // Black prints faster
    text-shadow: none !important;
    // background: transparent !important;
    box-shadow: none !important;
  }

  a {
    &:not(.btn) {
      text-decoration: underline;
    }
  }

  // Bootstrap specific; comment the following selector out
  //a[href]::after {
  //  content: " (" attr(href) ")";
  //}

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  // Bootstrap specific; comment the following selector out
  //
  // Don't show links that are fragment identifiers,
  // or use the `javascript:` pseudo protocol
  //

  //a[href^="#"]::after,
  //a[href^="javascript:"]::after {
  // content: "";
  //}

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid gray; // Bootstrap custom code; using `$border-width` instead of 1px
    page-break-inside: avoid;
  }

  //
  // Printing Tables:
  // https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
  //

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  html {
    font-size: 18px;
  }

  // Bootstrap specific changes start

  // Specify a size and min-width to make printing closer across browsers.
  // We don't set margin here because it breaks `size` in Chrome. We also
  // don't use `!important` on `size` as it breaks in Chrome.
  @page {
    size: a3;
  }
}

.v-resources_layout {
  background-color: transparent;
  color-adjust: exact;
}

.print-area, .print-area .print-container {
  height: 100%;
}

.print {
  &__name {
    margin-bottom: 2.5rem;
  }

  &__logo {
    display: block;
    height: 6rem;
    max-width: 33vw;
    margin-bottom: 2.5rem;

    &--horizontal {
      height: 5rem;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    text-align: left;
    margin-bottom: 1rem;
    small {
      @apply s-res-text-gray-500;
      font-size: .6em;
    }
  }

  &__footer {
    width: 100%;
    margin-top: 2rem;
    font-size: 0.75rem;
    font-style: italic;
  }

  &-consent {

    &__authorization {
      font-size: 1.25rem;
      margin-bottom: 3rem;
      line-height: 2.5;
      text-align: justify;

      .print__title {
        margin-bottom: 4rem;
      }
    }

    &__info {
      // font-size: $small-font-size;
      @apply s-res-text-gray-600;
      text-align: justify;
    }
  }

  &-placeholder {
    width: 20em;
    display: inline-block;
    border-bottom: 1px solid;
    position: relative;
    height: 1.2em;

    &:after {
      @apply s-res-text-gray-600;
      content: attr(data-label);
      display: inline-block;
      font-size: .75rem;
      line-height: 1em;
      position: absolute;
      bottom: -1.25em;
      left: 0;
      font-weight: 500;
      text-align: left;
    }

    &s--large & {
      @apply s-res-bg-gray-200 s-res-text-gray-900;
      height: 2em;
      border-bottom: none;
      margin-top: 1.65em;
      &:after {
        bottom: auto;
        top: -1.2em;
        font-size: .9rem;
      }
    }

    &--nic {
      width: 10em;
    }
    &--name {
      width: 40em;
    }
    &--signature {
      width: 80%;
      display: block;
      margin-top: 5rem;
    }

    &--w100 {
      width: 100%;
    }
    &--one-third {
      width: 32%;
    }
    &--two-thirds {
      width: 66%;
    }
    &--one-quarter {
      width: 24%;
    }
    &--half {
      width: 49%;
    }
    &--three-quarters {
      width: 74%;
    }
  }

  &-inscricao {
    &__campos {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__section {
      width: 100%;
      margin-top: 1.5rem;
    }
    &__familiares {
      &__list {
        width: 100%;
        display: flex;

        & > :not(:first-child) {
          margin-left: 2rem;
        }
      }
    }
  }

  &__title + &-inscricao__section {
    margin-top: 0;
  }

  &-lista {
    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__title {
      text-align: left;
      margin-bottom: 2rem;
      small {
        @apply s-res-text-gray-500;
        font-size: .6em;
      }
    }

    &__content {
      width: 100%;
    }
  }
}

.v-resources_resources-inscricao {
  height: 100%;

  .print-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.v-resources_resources-lista {
  height: 100%;

  .print-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.v-resources_resources-consentimento {
  height: 100%;

  .print-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
